In [ ]:
# load library
import pandas as pd
dataframe = pd.DataFrame()
#data frame
dataframe['name'] = ['lemon', 'apple', 'banana']
dataframe['price'] = [5,8,7]
dataframe['License'] = [False, True, True]
#show data
dataframe

     name  price  License
0   lemon      5    False
1   apple      8     True
2  banana      7     True

In [ ]:
dataframe.loc[(dataframe.price == 5)| (dataframe.name == 'banana')]

     name  price  License
0   lemon      5    False
2  banana      7     True

pandas.core.indexing._iLocIndexer

In [ ]:
dataframe.loc[(df.Price == 5)| (dataframe.Name == 'Banana'), ['Name','Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [ ]:
dataframe.iloc[2]
type(dataframe.iloc[2])

pandas.core.series.Series

In [ ]:
dataframe.iloc[[2]]

     name  price  License
2  banana      7     True

In [ ]:
dataframe.iloc[0:2]

    name  price  License
0  lemon      5    False
1  apple      8     True

In [ ]:
dataframe.iloc[0:2,0:-1]
dataframe.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
sum = dataframe.price.sum()
  
print(sum)

20

In [ ]:
max = dataframe.price.max()
print(max)

8

In [ ]:
count = dataframe['price'].count()
print(count)

3

In [ ]:
# create row data
new = pd.Series(['orange',10,True], index=['name','price','license'])
# append row
dataframe.append(new, ignore_index=True)

     name  price  License  license
0   lemon      5      0.0      NaN
1   apple      8      1.0      NaN
2  banana      7      1.0      NaN
3  orange     10      NaN      1.0

In [ ]:
# append a column
dataframe['Location'] = ['USA','VN','SIN']
dataframe

     name  price  License Location
0   lemon      5    False      USA
1   apple      8     True       VN
2  banana      7     True      SIN

In [ ]:
# delete a row
dataframe.drop(1, axis=0).head(10)

     name  price  License Location
0   lemon      5    False      USA
2  banana      7     True      SIN

In [ ]:
# delete a column
dataframe.drop('Location', axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
# replace
dataframe['price'].replace(5,7).head(5)

0    7
1    8
2    7
Name: price, dtype: int64

In [ ]:
# rename columns
dataframe.rename(columns={'price':'cost'}).head()

     name  cost  License Location
0   lemon     5    False      USA
1   apple     8     True       VN
2  banana     7     True      SIN

In [ ]:
# 2. KNOWING DATA

In [ ]:
# load library
import pandas as pd
# create url
url = 'http://winterolympicsmedals.com/medals.csv'
# load data
dataframe = pd.read_csv(url)
# show data
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
data = dataframe
data.shape

(2311, 8)

In [ ]:
data.describe()
# std: phuong sai
# mean: gia tri trung binh

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
data.iloc[0:10] # ~[:10]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold